version: '3.4'

services:
  postgres:
    image: bitnami/postgresql:13.3.0
    environment:
    - POSTGRESQL_DATABASE=The12thPlayerDev
    - POSTGRESQL_POSTGRES_PASSWORD=postgres
    - POSTGRESQL_USERNAME=The12thPlayerUser
    - POSTGRESQL_PASSWORD=The12thPlayerPassword
    - POSTGRESQL_SHARED_PRELOAD_LIBRARIES=pgaudit,pg_stat_statements
    ports:
    - "5432:5432"
  
  rabbit:
    image: masstransit/rabbitmq:3.9.7
    ports:
    - "15672:15672"
    - "5672"

  migrator:
    environment:
    - DOTNET_ENVIRONMENT=Development
    depends_on:
    - postgres

  admin:
    environment:
    - ASPNETCORE_ENVIRONMENT=Development
    - ASPNETCORE_URLS=http://0.0.0.0:80
    ports:
    - "7000:80"
    depends_on:
    - rabbit

  identity:
    environment:
    - ASPNETCORE_ENVIRONMENT=Development
    - ASPNETCORE_URLS=http://0.0.0.0:80
    ports:
    - "5000:80"
    depends_on:
    - migrator
    - rabbit

  profile:
    environment:
    - ASPNETCORE_ENVIRONMENT=Development
    - ASPNETCORE_URLS=http://0.0.0.0:80
    ports:
    - "6000:80"
    depends_on:
    - migrator
    - rabbit

  notification:
    environment:
    - DOTNET_ENVIRONMENT=Development
    depends_on:
    - rabbit