version: '3.4'

services:
  admin:
    image: ${REGISTRY:-the12thplayer}/admin.api:${PLATFORM:-linux}-${TAG:-latest}
    build:
      context: .
      dockerfile: Services/Admin/Admin.Api/Dockerfile

  identity:
    image: ${REGISTRY:-the12thplayer}/identity.api:${PLATFORM:-linux}-${TAG:-latest}
    build:
      context: .
      dockerfile: Services/Identity/Identity.Api/Dockerfile

  profile:
    image: ${REGISTRY:-the12thplayer}/profile.api:${PLATFORM:-linux}-${TAG:-latest}
    build:
      context: .
      dockerfile: Services/Profile/Profile.Api/Dockerfile

  livescore:
    image: ${REGISTRY:-the12thplayer}/livescore.api:${PLATFORM:-linux}-${TAG:-latest}
    build:
      context: .
      dockerfile: Services/Livescore/Livescore.Api/Dockerfile

  feed:
    image: ${REGISTRY:-the12thplayer}/feed.api:${PLATFORM:-linux}-${TAG:-latest}
    build:
      context: .
      dockerfile: Services/Feed/Feed.Api/Dockerfile

  notification:
    image: ${REGISTRY:-the12thplayer}/notification.host:${PLATFORM:-linux}-${TAG:-latest}
    build:
      context: .
      dockerfile: Services/Notification/Notification.Host/Dockerfile

  worker:
    image: ${REGISTRY:-the12thplayer}/worker.host:${PLATFORM:-linux}-${TAG:-latest}
    build:
      context: .
      dockerfile: Services/Worker/Worker.Host/Dockerfile

  migrator:
    image: ${REGISTRY:-the12thplayer}/migrator:${PLATFORM:-linux}-${TAG:-latest}
    build:
      context: .
      dockerfile: Deploy/Migrator/Dockerfile