version: '3.4'

services:
  #postgres:
  #  image: bitnami/postgresql:13.3.0
  #  environment:
  #  - POSTGRESQL_DATABASE=The12thPlayerDev
  #  - POSTGRESQL_POSTGRES_PASSWORD=postgres
  #  - POSTGRESQL_USERNAME=The12thPlayerUser
  #  - POSTGRESQL_PASSWORD=The12thPlayerPassword
  #  - POSTGRESQL_SHARED_PRELOAD_LIBRARIES=pgaudit,pg_stat_statements
  #  ports:
  #  - "5432:5432"

  postgres:
    image: registry.developers.crunchydata.com/crunchydata/crunchy-postgres:centos8-13.4-4.7.3
    hostname: postgres
    environment:
    - MODE=postgres
    - PG_MODE=primary
    - PG_USER=The12thPlayerUser
    - PG_PASSWORD=The12thPlayerPassword
    - PG_DATABASE=The12thPlayerDev
    - PG_PRIMARY_USER=PrimaryUser
    - PG_PRIMARY_PASSWORD=PrimaryPassword
    - PG_ROOT_PASSWORD=postgres
    - PGHOST=/tmp
    - PG_PRIMARY_PORT=5432
    ports:
    - "5432:5432"
    volumes:
    - pgdata:/pgdata

  pgbadger:
    image: registry.developers.crunchydata.com/crunchydata/crunchy-pgbadger:centos8-13.4-4.7.3
    environment:
    - BADGER_TARGET=postgres # Must be the same as the postgres service's 'hostname' parameter.
    - 'BADGER_CUSTOM_OPTS=--incremental --prefix="%t [%p]: [%l-1] user=%u,db=%d,app=%a,client=%h"'
    ports:
    - "10000:10000"
    volumes:
    - pgdata:/pgdata:ro
    - pgreport:/report
  
  rabbit:
    image: masstransit/rabbitmq:3.9.7
    ports:
    - "15672:15672"
    - "5672"

  redis:
    image: bitnami/redis:6.2.6
    environment:
    - ALLOW_EMPTY_PASSWORD=yes
    ports:
    - "6379:6379"

  redsmin:
    image: redsmin/proxy
    environment:
    - REDSMIN_KEY=${REDSMIN_KEY}
    - REDIS_URI=redis://redis:6379

  migrator:
    environment:
    - DOTNET_ENVIRONMENT=Development
    depends_on:
    - postgres

  admin:
    environment:
    - ASPNETCORE_ENVIRONMENT=Development
    - ASPNETCORE_URLS=http://0.0.0.0:80
    ports:
    - "7000:80"
    depends_on:
    - rabbit

  identity:
    environment:
    - ASPNETCORE_ENVIRONMENT=Development
    - ASPNETCORE_URLS=http://0.0.0.0:80
    ports:
    - "5000:80"
    depends_on:
    - migrator
    - rabbit

  profile:
    environment:
    - ASPNETCORE_ENVIRONMENT=Development
    - ASPNETCORE_URLS=http://0.0.0.0:80
    ports:
    - "6000:80"
    volumes:
    - "user_files_data:/app/wwwroot"
    depends_on:
    - migrator
    - rabbit

  livescore:
    environment:
    - ASPNETCORE_ENVIRONMENT=Development
    - ASPNETCORE_URLS=http://0.0.0.0:80
    ports:
    - "8000:80"
    volumes:
    - "user_files_data:/app/wwwroot"
    depends_on:
    - migrator
    - rabbit
    - redis

  feed:
    environment:
    - ASPNETCORE_ENVIRONMENT=Development
    - ASPNETCORE_URLS=http://0.0.0.0:80
    ports:
    - "9000:80"
    depends_on:
    - migrator
    - rabbit

  notification:
    environment:
    - DOTNET_ENVIRONMENT=Development
    depends_on:
    - rabbit

  worker:
    environment:
    - DOTNET_ENVIRONMENT=Development
    volumes:
    - "${UserSecretsPath}:/root/.microsoft/usersecrets:ro"
    depends_on:
    - rabbit

volumes:
  pgdata:
  pgreport:
  user_files_data:
    driver: local